/*

* Do not remove the @namespace line -- it's required for correct functioning



@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
*/

/*
*Make all the default font sizes eg:14 px:
*/

.moz-text-plain pre {
  font-size: 14pt;
}

body {

  font-size: 14pt;

}
